/*
 * css/style.css
 */
/*----------------------Font Families---------------------- */
@font-face {
      font-family: 'Hind-Semibold'; 
      src: url("//d3a1v57rabk2hm.cloudfront.net/flux/fresh-subscribe-flow-beta-copy-0/fonts/Hind-Semibold.ttf?ts=1462980539&host=my.cratejoy.com") format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans Regular';
    src: url("//d3a1v57rabk2hm.cloudfront.net/flux/fresh-subscribe-flow-beta-copy-0/fonts/OpenSans-Regular.ttf?ts=1462980546&host=my.cratejoy.com") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans Bold';
    src: url("//d3a1v57rabk2hm.cloudfront.net/flux/fresh-subscribe-flow-beta-copy-0/fonts/OpenSans-Bold.ttf?ts=1462980548&host=my.cratejoy.com") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans BoldItalic';
    src: url("//d3a1v57rabk2hm.cloudfront.net/flux/fresh-subscribe-flow-beta-copy-0/fonts/OpenSans-BoldItalic.ttf?ts=1462980548&host=my.cratejoy.com") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans ExtraBold';
    src: url("//d3a1v57rabk2hm.cloudfront.net/flux/fresh-subscribe-flow-beta-copy-0/fonts/OpenSans-ExtraBold.ttf?ts=1462980547&host=my.cratejoy.com") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans ExtraBoldItalic';
    src: url("//d3a1v57rabk2hm.cloudfront.net/flux/fresh-subscribe-flow-beta-copy-0/fonts/OpenSans-ExtraBoldItalic.ttf?ts=1462980547&host=my.cratejoy.com") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans Italic';
    src: url("//d3a1v57rabk2hm.cloudfront.net/flux/fresh-subscribe-flow-beta-copy-0/fonts/OpenSans-Italic.ttf?ts=1462980546&host=my.cratejoy.com") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans Light';
    src: url("//d3a1v57rabk2hm.cloudfront.net/flux/fresh-subscribe-flow-beta-copy-0/fonts/OpenSans-Light.ttf?ts=1462980546&host=my.cratejoy.com") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans LightItalic';
    src: url("//d3a1v57rabk2hm.cloudfront.net/flux/fresh-subscribe-flow-beta-copy-0/fonts/OpenSans-LightItalic.ttf?ts=1462980546&host=my.cratejoy.com") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans SemiBold';
    src: url("//d3a1v57rabk2hm.cloudfront.net/flux/fresh-subscribe-flow-beta-copy-0/fonts/OpenSans-Semibold.ttf?ts=1462980546&host=my.cratejoy.com") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans SemiBoldItalic';
    src: url("//d3a1v57rabk2hm.cloudfront.net/flux/fresh-subscribe-flow-beta-copy-0/fonts/OpenSans-SemiboldItalic.ttf?ts=1462980546&host=my.cratejoy.com") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PlayfairDisplay Regular';
    src: url("//d3a1v57rabk2hm.cloudfront.net/flux/fresh-subscribe-flow-beta-copy-0/fonts/PlayfairDisplay-Regular.ttf?ts=1462980545&host=my.cratejoy.com") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PlayfairDisplay Black';
    src: url("//d3a1v57rabk2hm.cloudfront.net/flux/fresh-subscribe-flow-beta-copy-0/fonts/PlayfairDisplay-Black.ttf?ts=1462980545&host=my.cratejoy.com") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PlayfairDisplay BlackItalic';
    src: url("//d3a1v57rabk2hm.cloudfront.net/flux/fresh-subscribe-flow-beta-copy-0/fonts/PlayfairDisplay-BlackItalic.ttf?ts=1462980546&host=my.cratejoy.com") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PlayfairDisplay Bold';
    src: url("//d3a1v57rabk2hm.cloudfront.net/flux/fresh-subscribe-flow-beta-copy-0/fonts/PlayfairDisplay-Bold.ttf?ts=1462980545&host=my.cratejoy.com") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PlayfairDisplay BoldItalic';
    src: url("//d3a1v57rabk2hm.cloudfront.net/flux/fresh-subscribe-flow-beta-copy-0/fonts/PlayfairDisplay-BoldItalic.ttf?ts=1462980545&host=my.cratejoy.com") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PlayfairDisplay Italic';
    src: url("//d3a1v57rabk2hm.cloudfront.net/flux/fresh-subscribe-flow-beta-copy-0/fonts/PlayfairDisplay-Italic.ttf?ts=1462980545&host=my.cratejoy.com") format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* HACKs for the designer carousel */
[data-barley] .barley_bgimage_toolbar{
  z-index: 100;
}
.quotes .barley_bgimage_toolbar {
  margin-left: -50px;
}

.headline .barley_bgimage_toolbar {
  left: 50px;
}

a {
  color: #5cb9c8;
}

a:hover {
  color: #c7d311;
  text-decoration: none;
}

h1, h2 {
  font-size: 26px;
  font-family: OpenSans SemiBold;
  color: #222643;
  margin-bottom: 30px;
}

.headline h1 {
  margin-bottom: 10px;
  font-size: 52px;
  font-family: Gadget, sans-serif;
  color: #FFFFFF;
}

h3, h4,
.my-account .panel.panel-cratejoy .panel-title,
.product .name-container{
  font-family: OpenSans SemiBold;
  color: #222643;
  font-size: 16px;
  letter-spacing: normal;
}

footer h3 {
  font-family: OpenSans Light;
  color: #FFFFFF;
}

body,
.my-account .info-label{
  font-family: OpenSans Light;
  font-size: 14px;
  color: #737373;
  background-color: #FFFFFF;
}

.alert-warning {
  border: 1px solid #F36546;
  color: #F36546;
  background-color: transparent;
  font-size: 16px;
}

/* Lifted from bootstrap button */
.checkout_button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.disclaimer-question-icon {
    background-color: #c7d311;
}

.img-overlay{
  position: absolute;
  background-color: black;
  opacity: .2;
  top:0px;
  height: 100%;
  width: 100%;
}

.btn {
  min-width: 100px;
}

.btn-lg {
  border-radius: 2px;
  font-family: OpenSans Bold;
  font-size: 15px;
  min-width: 200px;
  padding: 12px 16px;
}

.coupon_section .btn{
  min-width: initial;
}

.cart-subtotal {
  margin-bottom: 25px;
  padding-top: 15px;
}

.checkout_button.primary-button, .btn.btn-primary, .btn.btn-success,
.btn.gift-card-modal-submit {
  background-color: #c7d311;
  color: #FFFFFF;
  border: none;
  font-family: OpenSans Bold;
}

.checkout_button.primary-button:hover, .btn.btn-primary:hover,
.btn.gift-card-modal-submit:hover {
  background-color: #222643;
  color: #FFFFFF;
}

.logo {
  margin-bottom: 20px;
  color: #222643;
}

.logo img{
  display: inline;
}

.logo-grp {
  font-family: OpenSans SemiBold;
  font-size: 22px;
  padding: 6px 12px;
  color: #222643;
  border: 2px solid #222643;
}

a:hover .logo-grp{
  color: #c7d311;
  border: 2px solid #c7d311;
}




/*
     NAVIGATION STYLES
*/

.top-nav {
  margin-bottom: 0px;
}
/* Top banner navigation and text */
.navbar-default {
  background-color: #ffffff;
}

.navbar-default  .dropdown {
  padding-left: 15px;
}

.navbar-default .navbar-toggle {
  border: none;
}

.navbar a.navbar-toggle,
.navbar .navbar-nav>li>a {
  font-family: OpenSans Light;
  color: #5cb9c8;
  margin-top: 10px;
}

.navbar .navbar-nav>li>a:hover {
  font-family: OpenSans Light;
  color: #c7d311;
  background-color: transparent;
}
.nav li.logo-ct a {
  margin-top: 0px;
}

.nav .social{
  display: none;
}

.ctabox {
  font-weight:bold;
  border: solid 1px #5cb9c8;
  padding: 2px;
  margin-top: 22%;
}

/* Footer navigation */
footer .navbar .nav>li>a {
  color: #FFFFFF;
}

footer .navbar .nav>li>a:hover {
  color: #c7d311;
  background-color: transparent;
}

footer .social {
  margin-top: 30px;
}

.social-wrap {
  text-align: center;
}

.social a svg path {
  fill: #ffffff;
}

.social a:hover svg path {
  fill: #c7d311;
}
.social a:hover {
  text-decoration: none;
}


footer {
  background-color: #222643;
  font-family: OpenSans Light;
  color: #FFFFFF;
}

footer .caption {
  padding-top: 15px;
  padding-bottom: 15px;
}

footer .caption p {
  line-height: 26px;
}

footer .links {
  border-bottom: 2px solid #CCCCCC;
}

footer .nav>li>a {
  padding: 2px 5px;
  font-family: OpenSans Light;
  color: #FFFFFF;
}


.small-headline {
  margin-bottom: 60px;
}

.headline.showcase {
  padding-left: 0px;
  padding-right: 0px;
}

.showcase {
  overflow-x: hidden;
  overflow-y: hidden;
}

.showcase-image {
  position: relative;
}

.showcase-image img {
  margin: auto auto;
}

.showcase .showcase-content {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 28%;
}

hr {
  border-color: #CCCCCC;
  border-width: 2px;
}

.showcase .showcase-text a {
    font-family: OpenSans SemiBold;
    color: #222643;
    font-size: 14px;
}

.showcase .showcase-text a:hover {
  text-decoration: none;
}
.showcase-text {
  margin-top: 15px;
}

.showcase-text .price{
  float: right;
}

.showcase .showcase-text #atheadertext {
font-family: 'OpenSans'; font-size: 16px; color: #ffffff;
}

.headline .btn.btn-primary {
    font-family: OpenSans Bold;
    color: #222643;
    background-color: #ffffff;
    font-size: 14px;
    margin-top: 40px;
}

.headline .btn.btn-primary:hover {
    color: #FFFFFF;
    background-color: #5cb9c8;
}

section {
  margin-bottom: 60px;
}

section.account{
  margin-bottom: 10px;
}

.main.container {
  margin-top: 40px;
}

.mid-content {
  text-align: center;
}

.graphic {
  text-align: center;
}

.img-wrap {
    display: inline-block;
}

/* Index */

#staticbannercontent {
  display: none;
}

 #overallbigguy {
   background-color: #222643;
   color: white;
   width: 100%;
   overflow: hidden;
 }
    
 #wrapperw {
    width: 2000px;
    transform: translate3d(0, 0, 0);
    transition: transform .5s ease-in-out;
    background-color: #222643;
 }

.contentw {
    float: left;
    width: 500px;
    height: 170px;
    white-space: normal;
    background-repeat: no-repeat;
    background-color: #222643;
    color: white;
}

.contentw p {
    margin: 50px;
}


#contentContainerw {
    width: 500px;
    height: 170px;
    border: none;
    overflow: hidden;
    margin: auto;
}

#navLinks {
    text-align: center;
    width: 500px;
	margin: auto;
  	background-color: #222643;
}
    #navLinks ul {
        margin: 0 0 20px 0;
        padding: 0px;
        display: inline-block;
        margin-top: 6px;
    }
        #navLinks ul li {
            float: left;
            text-align: center;
            margin: 10px;
            list-style: none;
            cursor: pointer;
            background-color: #222643;
            padding: 5px;
            border-radius: 50%;
            border: white 1px solid;
        }
            #navLinks ul li:hover {
                background-color: #c7d311;
            }
            #navLinks ul li.active {
                background-color: #ffffff;
                color: #FFFFFF;
                outline-width: 7px;
            }
                #navLinks ul li.active:hover {
                    background-color: #c7d311;
                    color: #FFFFFF;
                }

.talkingaboutbox {
  height: 150px;
}

#firstleftdescription {
  display: inline-block;
  width:170px;
  vertical-align: middle;
}

#boximage_container {
	padding-bottom:60px;
  	display: inline-block;
  	vertical-align: middle;
  	width: 60%
}

#secondleftdescription {
  display: none;
  width:170px;
  vertical-align: middle;
}

#rightdescription {
  display: inline-block;
  width:170px;
  vertical-align: middle;
}



/*
 * Subscribe
 */

.subscribe_page .banner .content {
  background-color: ;
  text-align: center;
}

.subscribe_page .banner .content h1,
.subscribe_page .banner .content h2,
.subscribe_page .banner .content h3,
.subscribe_page .banner .content h4 {
  padding-bottom: 0;
}

.subscribe_page .banner .content {
  padding-top: 1px;
  padding-bottom: 20px;
}

.subscribe .container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.subscribe .container .heading {
  text-align: center;
}

.subscribe .content {
  text-align: center;
}

.subscribe .content div {
  word-spacing: normal;
}

.subscribe + .subsection .container {
  padding-top: 15px;
}

.subscribe .item {
  display: inline-block;
  width: 200px;
  border: solid 1px #CCCCCC;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  box-sizing: content-box;
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 20px;
}

.subscribe .item .price {
  margin-bottom: 22px;
}

.subscribe .item .price p {
  font-family: OpenSans SemiBold;
  color: #222643;
  font-size: 15px;
  padding-top: 15px;
}

.subscribe .image-container {
  display: inline-block;
  width: 200px;
  height: 150px;
  text-align: center;
}

.subscribe .item .information {
  padding: 0px 16px;
}

.subscribe .image-container img {
  max-width: 200px;
  max-height: 150px;
  margin: auto auto;
}

.subscribe .row.head, .subscribe .row.foot {
  border-bottom: 1px solid ;
}

.item .description-container {
  margin-top: 10px;
}



.line-limited {
  display: table;
  width: 100%;
}

.line-limited > div {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}

.line-limited > div > * {
  overflow: hidden;
}

/* Set the fonts and cell heights for the name-container */
.item .name-container.line-limited {
  font-family: OpenSans SemiBold;
  color: #222643;
  font-size: 15px;
  letter-spacing: 1px;
  height: 2.4em;
}

.item .name-container.line-limited > div > * {
  line-height: 1.2em;
  max-height: 2.4em;
}


/* Set the fonts and heights for this limited block */
.item .description-container.line-limited {
  color: ;
  font-family: ;
  font-size: 12px;
  letter-spacing: 1px;
  height: 4.2em;
  margin-bottom: 15px;
}

.item .description-container.line-limited > div > * {
  line-height: 1.4em;
  max-height: 4.2em;
}

/* Set the fonts and heights for this limited block */
.terms .item .description-container.line-limited {
  color: ;
  font-family: ;
  font-size: 13px;
  letter-spacing: 1px;
  height:2.8em;
  margin-bottom: 15px;
}

.breadcrumb-ct {
  background-color: #ECF0F0;
}

.breadcrumb {
  background-color: #ECF0F0;
  font-size: 12px;
  color: #222643;
  margin-bottom: 0px;
}

.breadcrumb>li.active {
  color: #222643;
  opacity: 1;
}

/* Hack to remove default inline-block spacing */
.breadcrumb>li span{
  margin-left: -4px;
}

.breadcrumb>li{
  opacity: .50;
}

.breadcrumb>li+li:before {
  color: #222643;
}


.cart-table {
  position: relative;
  display: table;
  width: 100%;
}

.cart-table .product-image-thumb img{
  height: 90px;
  width: 90px;
}

.cart-table .product-label {
  display: table;
}

.cart-table p{
  margin: 0 0;
}

.cart-table .cart-td {
  display: table-cell;
  float: none;
  border-bottom: 1px solid #CCCCCC;
  vertical-align: middle;
  padding-top: 5px;
  padding-bottom: 5px;
}

.product-label .product-image-thumb {
  padding-right: 0;
  width: 90px;
  height: 90px;
}

.product-label .product-info-meta{
  padding-left: 25px;
}

.product-label .thumb, .product-label .meta {
  display: table-cell;
  vertical-align: middle;
}


.cart-content .icon {
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
}

.cart-table .close {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -11px;
  color: #737373;
  opacity: 100;
  filter: alpha(opacity=10000);
}

.cart-content .price {
  margin-bottom: 15px;
}

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}


footer .navbar-nav {
  margin: 0 0;
}

footer .navbar .navbar-nav>li>a {
  margin-top: 0px;
}

/* EXTRAS PAGE */

.ctaa {
  text-align: center;
  margin: auto;
  width: 120px;
  padding: 4px 0;
  border: 1px solid #5cb9c8;
  border-radius: 2px;
  background-color: #5cb9c8;
  color: #fff;
}

.ctaa:hover {
    background-color: #fff;
  	color: #5cb9c8;
 	cursor: pointer;
	border: 1px solid #5cb9c8;
}

.addtocart {
  color: inherit;
}

.addtocart:hover {
  color: #5cb9c8;
}

/* SURVEY PAGE */

.survey-error {
	color: red;
  	text-decoration: underline;
}

/* CHECKOUT ALERT */

.alert.alert-block.alert-warning {
  display: hide;
}

/* Contact Page */

#contactus {
  padding: 0 20%;
}

#contactusbutton {
  background-color: #c7d311;
  border:none;
  border-radius: 1px;
  width: 80px;
  color: white;
}



/*MEDIA QUERIES*/

/* FIRST MEDIA QUERY*/

@media (max-width: 767px){
  footer {
    text-align: center;
  }

  .copyright {
    margin-bottom: 20px;
  }

  .navbar-light li {
    border-right: none;
  }

  .navbar-light .navbar-toggle {
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    float: none;
    display: inline-block;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #FFFFFF;;
  }


  .navbar-static-top .navbar-nav, .navbar-static-top .navbar-text{
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .dropdown-menu > li > a {
    color: #FFFFFF;
  }
  .navbar-static-top ul.navbar-nav:first-child {
    float: left;
  }
  .navbar-static-top ul.navbar-nav:last-child {
    float: right;
  }

  .navbar-static-top .main-nav,
  .navbar-static-top .main-nav ul.nav {
      clear: both;
      float: none;
      text-align: center;
      width: 100%;
      background-color: #222643;
      position: absolute;
      top: 100%;
      margin-top: -4px;
  }

  .navbar-static-top .main-nav ul.nav {
    position: inherit;
  }


  .navbar-static-top .main-nav li a, .main-nav {
    color: #FFFFFF;
  }

  .ctabox {
    border: none;
    font-weight: normal;
  }
  
  .nav .social{
    display: block;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .cart-table {
    display: block;
    padding-bottom: 20px;
    margin-bottom: -1px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #CCCCCC;
  }

  .cart-table .cart-td {
    display: block;
    padding: 5px;
    border: none;
  }

  .cart-table .close {
    top: 0;
    right: 10px;
    margin-top: 0;
  }

  .cart-table .product-label .thumb {
    width: 90px;
    text-align: right;
  }

  .cart-table .product-label .meta {
    padding-left: 25px;
  }

  .hidden-xs {
    display: none !important;
  }
  
   .container-fluid {
    height: 400px;
    background-position: center;
  background-size: cover;
  }
  
  #indexbanner{
    background-image: url(//s3.amazonaws.com/cratejoy_vendor_images/flux/fresh-subscribe-flow-beta-copy-0/images/banner3reduced.jpg?ts=1474907212&host=my.cratejoy.com);
  }
  
  #faqbanner{
    background-image: url(//d3a1v57rabk2hm.cloudfront.net/flux/fresh-subscribe-flow-beta-copy-0/images/FAQbanner2.jpg?ts=1472410334&host=my.cratejoy.com);
    height: 300px;
  }
  
  #aboutbanner{
    background-image: url(//d3a1v57rabk2hm.cloudfront.net/flux/fresh-subscribe-flow-beta-copy-0/images/aboutbanner2.jpg?ts=1472410333&host=my.cratejoy.com);
    height: 300px;
  }
  
  .img-responsive.hero {
    visibility: hidden;
    height:400px;
  }
  
  .img-overlay {
    height: 300px;
  }
    
  .showcase .showcase-content {
  top: 12%;
  }
  
  .showcase .showcase-content .showcase-text img {
    width: 37px;
  }
  
 .showcase .showcase-text #atheadertext {
    font-size: 14px;
  }
  
  .showcase a.btn.btn-lg.btn-primary {
    margin-top: 20px;
  }
  
  
  #boximage_container {
    padding-bottom: 0px;
    width: 100%;
  }
  
  #firstleftdescription {
    display: none;
  }
  
  #secondleftdescription {
    display: inline-block;
    padding: 10px 10px 50px 0px;
  }
  
  #rightdescription {
    padding: 10px 10px 50px 0px;
  }
  
  #contactus {
  padding: 20px 5px;
  }
  
}

.contentw p {
    margin: 20px;
}

@media (max-width: 991px){
    .headline h1{
    font-size: 32px;
  }
  
    .showcase .showcase-content {
  top: 20%;
}
  .showcase .showcase-content .showcase-text img {
    width: 45px;
  }
  
  #rightdescription {
    padding-bottom: 60px;
  }
  
  #boximage_container {
    padding-bottom: 0px;
    width: 100%;
  }
  
}

	.showcase .showcase-content .showcase-text p #atheadertext {
      font-size: 5px;
    }

.headline .cta-mobile {
  display: none;
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
}



@media (max-width: 515px){
  
  .showcase {
    width: 100%;
  }

  .quotes .cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 75px;
    float: left;
  }

  .showcase-text .price {
    float: none;
    display: block;
  }

  .showcase-text {
    text-align: center;
    margin-bottom: 10px;
  }

  .headline h1{
    font-size: 30px;
  }

  .headline .cta-xmobile {
    margin-top: 5px;
  }

  .headline .cta-xmobile{
    display: none;
  }

  .headline .btn.btn-primary.cta-mobile {
    display: inline-block;
    margin-top: 0px;
    width: 100%;
  }

  .showcase .showcase-content {
    top: 20%;
    font-size: 28px;
  }

  p #atheadertext {
    font-size: 5px;
  }
  
  
  .headline .btn.btn-primary {
    margin-top: initial;
  }
  
   #rightdescription {
    padding-bottom: 60px;
    padding-top: 20px;
  }
  
  #boximage_container {
    padding-bottom: 0px;
    padding-top: 15px;
  }
 
  #staticbannercontent {
  display: block;
  }
  
  #overallbigguy {
    display: none;
  }
 
  #rowza {
    padding-bottom: 0px;
    margin-bottom: 0;
  }
  
  #contactusbutton {
    font-size: 18 px;
    height: 30px;
  }
  
  #contactus {
    padding-left: 0;
    padding-right: 0;
  }
  
}

@media (max-width: 420px) {
  #secondleftdescription {
    padding: 10px 10px 0px 0px;
  }
  
  .talkingaboutbox {
    height: 130px;
  }
  
}


/* This is a max 970px wide design */
@media (min-width: 1200px){
  /* duoblock default layout styles */
  .container {
    width: 970px
  }
}

section#header {
  margin-top: 40px;
}

#skip_button {
  border: 1px solid #c7d311;
  color: #c7d311;
}
#skip_button.skipped:hover {
  color: ;
  background-color: #c7d311;
}

/* Server generated form styles - eg change order */
.cratejoy-loading-icon {
  color: #222643;
}

input[type="radio"] + label.cj-btn {
  border: 1px solid #222643;
  color: #222643;
}

input[type="radio"]:checked + label.cj-btn, #skip_button.skipped {
  background-color: #222643;
  color: ;
  border-color: #222643;
}

input[type="radio"]:checked + label.cj-btn.term h4,
input[type="radio"]:checked + label.cj-btn.term h5 {
  color: ;
}


.main.container {
  min-height: 83vh;
}


body {
  height: 100%;
}

.container-fluid img.hero {
  width: 100vw;
}

@media (max-width: 768px){
  .checkout_content .styled_cart .total-row #total_price {
    font-size: 35px;
  }
}

@media (max-width: 515px){
  .checkout_content .styled_cart .total-row #total_price {
    font-size: 28px;
  }
}

.password-reset .control-group {
  margin-bottom: 15px;
}
/* end change order */

.order th,
.order td strong{
  /*
  font-family: ;
  color: ;
  */
  font-size: 15px;
}

.headline.account h2 {
  font-size: 24px;
  margin-top: 10px;
}

.gift-card-container.gift-card-balance-container {
  padding: 5px;
  border: 1px solid #737373;
  border-radius: 3px;
}

.gift-card-container .gift-card-balance {
  display: none;
}

.gift-card-container.gift-card-balance-container .gift-card-balance {
  display: block;
}

.gift-card-container .gift-card-cta #gift-card-redeem {
  margin-top: 0;
}